{% extends "base.twig" %}

{% block title %}Profile {% endblock %}

{% block content %}

    <div class="bg-w brd-mc">
        {% if user.id == userUpdate.id %}
            <h1>{{ userUpdate.pseudo }} Profile</h1>
        {% else %}
            <h1>Mon Profile</h1>
        {% endif %}
        <div class="p-10 flex-profile">
            <div class="input-field flex-1 flex-m flex-c">
                <img src="/{{ userUpdate.imgSrc }}" class="img-resp img-profile-100w-100h">
            </div>
            <div class="input-field">
                <label class="muted">Pseudo </label>

                <div class="p-10 brd-mc">{{ userUpdate.pseudo }}</div>
            </div>
        </div>

        <div class="input-field">
            <label class="muted">Bio </label>
            <div class="p-10 brd-mc">{{ userUpdate.bio }}</div>
        </div>
        <div class="input-field">
            <label class="muted">Email </label>
            <div class="p-10 brd-mc">
                {{ userUpdate.mail }}
            </div>
        </div>

        {% if user.role == 'admin' or user.id == userUpdate.id %}
            <div class="input-field flex-1 flex-m flex-c">
                <a href="updateUser-{{ userUpdate.id }}">
                    modifier
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script>
        window.onload = function () {
            tinymce.init({selector: 'textarea'});
        }
    </script>
{% endblock %}